language: php

cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.composer/cache
    - $HOME/rabbitmq-c
    - $HOME/php-amqp

addons:
  apt:
    packages:
      - cmake

services:
  - rabbitmq

env:
  global:
    - RABBIT_C_VER=0.9.0
    - PHP_AMQP_VER=1.9.4
    - RABBIT_HOST=127.0.0.1
    - setup=basic
    - coverage=false

sudo: false

branches:
  except:
    - gh-pages
    - /analysis-.*/

before_install:
  # Install rabbit-c
  - if [ ! -d "$HOME/rabbitmq-c/${RABBIT_C_VER}" ]; then
    travis_retry git clone --branch v${RABBIT_C_VER} https://github.com/alanxz/rabbitmq-c.git $HOME/rabbitmq-c/${RABBIT_C_VER};
    fi
  - cd $HOME/rabbitmq-c/${RABBIT_C_VER} && rm -Rf ./build && mkdir ./build && cd ./build && cmake .. && sudo cmake --build . --target install
  # Install php-amqp
  - if [ ! -d "$HOME/php-amqp/${PHP_AMQP_VER}" ]; then
    travis_retry git clone --branch v${PHP_AMQP_VER} https://github.com/pdezwart/php-amqp.git $HOME/php-amqp/${PHP_AMQP_VER};
    fi
  - cd $HOME/php-amqp/${PHP_AMQP_VER} && phpize --clean && phpize && ./configure && make && sudo make install
    && echo 'extension=amqp.so' >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - cd $TRAVIS_BUILD_DIR
  - composer global require hirak/prestissimo --update-no-dev
  - if [[ $coverage = 'false' ]]; then phpenv config-rm xdebug.ini || true; fi

install:
  - if [[ $setup = 'basic'  ]]; then travis_retry composer update --prefer-dist --no-interaction --no-suggest; fi
  - if [[ $setup = 'stable' ]]; then travis_retry composer update --prefer-dist --no-interaction --no-suggest --prefer-stable; fi
  - if [[ $setup = 'lowest' ]]; then travis_retry composer update --prefer-dist --no-interaction --no-suggest --prefer-lowest; fi
  - composer info | grep -e laravel/laravel -e phpunit/phpunit -e phpstan/phpstan

script:
  - if [[ $coverage = 'true' ]]; then composer test-cover; else composer test; fi

after_success:
  - if [[ $coverage = 'true' ]]; then bash <(curl -s https://codecov.io/bash); fi

matrix:
  include:
    - php: 7.1.3
#    - php: 7.1.3
#      env: setup=lowest
#
#    - php: 7.2
#      env: coverage=true
#    - php: 7.2
#      env: setup=lowest
#    - php: 7.2
#      env: setup=stable
#
#    - php: 7.3
#      env: coverage=true
#    - php: 7.3
#      env: setup=lowest
#    - php: 7.3
#      env: setup=stable
#
#    - php: nightly
#
#  allow_failures:
#    - php: nightly
